@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  color: #333333;
}

a:link,
a:visited {
  text-decoration: none;
}

.loginHeader {
  margin-right: 30%;
  margin-left: auto;
}
.loginHeader .image1 {
  height: 100%;
  width: 100%;
}
.loginHeader .login__topHeader {
  color: #0b3e68;
  font-family: "Fredoka", sans-serif;
  font-size: 50px;
}
.loginHeader .login__button {
  display: block;
  width: 100px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  color: #0b3e68;
  border: 2px solid #0b3e68;
}

.subheader-span {
  height: 10px;
}
.subheader-span .subheader {
  padding: 0 40px;
  color: #00ccff;
  text-align: center;
  font-size: 40px;
}

.mobile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 5%;
  margin-bottom: 10px;
}

.main {
  padding: 5%;
  text-align: center;
}
.main__header {
  color: #0b3e68;
}
.main__subheader {
  color: #00ccff;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  gap: 10px;
}
.main__paragraph {
  color: #0b3e68;
  font-family: "Roboto", sans-serif;
}
.main__button {
  display: block;
  width: 100%;
  background-color: #0b3e68;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fefefe;
}
.main__nextheader {
  color: #0b3e68;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.FirstContent {
  grid-area: content1;
  margin: auto;
}

.SecondContent {
  grid-area: content2;
  margin: auto;
}

.ThridContent {
  grid-area: content3;
  margin: auto;
}

.FourthContent {
  grid-area: content4;
  margin: auto;
}

.img1 {
  grid-area: img1;
  margin: auto;
}

.img2 {
  grid-area: img2;
  margin: auto;
}

.img3 {
  grid-area: img3;
  margin: auto;
}

.img4 {
  grid-area: img4;
  margin: auto;
}

.contentHeader {
  font-family: "Roboto", sans-serif;
  color: #0b3e68;
  font-size: 20px;
}

.content {
  font-family: "Roboto", sans-serif;
  color: #0b3e68;
  font-size: 20px;
}

.signup__button {
  display: block;
  border-radius: 5px;
  width: 20%;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: #eee0e2;
}
.footer__text {
  color: #0b3e68;
}

.loginHeader {
  height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section {
  display: grid;
  grid-template-areas: "content1 img1" "img2 content2" "content3 img3" "img4 content4";
  gap: 10px;
  padding: 10px;
  text-align: center;
}

.footer {
  margin-top: 10px;
  padding: 2%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 780px) {
  section {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 400px) {
  main {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 470px) {
  .signup__button {
    width: 40%;
  }
}